body {
  margin: 0px 15px 0px 15px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  height: 100vh;
}

.Header {
  display: flex;
  justify-content: space-between;
}

.revtube-icon {
  display: flex;
  align-items: center;
}

.navbar {
  display: flex;
  gap: 25px;
  align-items: center;
}

.VideoPage {
  display: flex;
  flex-direction: column;
}

.video-player {
  align-self: center;
  padding-left: 100%;
  padding-right: 100%;
  background-color: black;
}

.video-info {
  margin-left: 80px;
  width: 900px;
  border-bottom: 0.5px solid whitesmoke;
  border-right: 0.5px solid whitesmoke;
}

.video-sidebar {
  display: flex;
  flex-direction: column;
  width: 500px;
  margin: 15px;
}

.video-bottom {
  display: flex;
}

.profile-img {
  width: 32px;
  height: 32px;
  background-color: black;
}

.thumbnail {
  background-color: black;
  width: 320px;
  height: 180px;
  border-radius: 15px;
}

.video-mini-header {
  display: flex;
}

.profile-icon {
  background-color: black;
  width: 36px;
  height: 36px;
  border-radius:100%;
}

.video-user {
  display: flex;
  align-items: center;
  gap: 5px;
}

.video-mini-name {
  margin: 5px;
  margin-left: 10px;
  font-size: 14px;
  height: 30px;
}

.video-mini-author {
  margin: 5px;
  margin-left: 10px;
}

.Video {
  width: fit-content;
}

.Home {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}

.UploadPage {
  display: flex;
  justify-content: center;
}

.upload-form {
  border: 1px solid whitesmoke;
  display: flex;
  flex-direction: column;
  width: 750px;
  height: 500px;
  padding: 15px;
  background-color: #f5f3f3;
  box-shadow: 2px 2px 5px 2px grey;
}

#upload-name {
  width: 500px;
}

#upload-description {
  margin-bottom: 25px;
  max-width: 720px;
  max-height: 200px;
  min-width: 720px;
  min-height: 200px;
}

.submit-btn {
  width: 150px;
  height: 50px;
  border-radius: 8px;
  align-self: center;
  margin-top: auto;
  font-weight: bold;
  background-color: white;
  border: none;
}

input {
  margin-bottom: 25px;
  padding: 2.5px;
}

.VideoSidebar {
  display: flex;
  
}

.thumbnail-sidebar {
  background-color: black;
  width: 170px;
  height: 100px;
  border-radius: 15px;
}


.video-mini-name-sidebar {
  margin: 5px;
  margin-left: 10px;
  font-size: 14px;
  height: 30px;
}

.video-mini-author-sidebar {
  margin: 5px;
  margin-left: 10px;
  font-size: 10px;
}

.Login {
  display: flex;
  justify-content: center;
}

.login-form {
  display: flex;
  flex-direction: column;
  width: 400px;
  height: 400px;
  padding: 10px;
  background-color: #f5f3f3;
  box-shadow: 2px 2px 5px 2px grey;
}

.login-field {
  display: flex;
  flex-direction: column;
}

#email-login {
  height: 25px;
}

#pwd-login {
  height: 25px;
}

#username-login {
  height: 25px;
}

.Register {
  display: flex;
  justify-content: center;
}