body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  height: 100vh;
  margin: 0;
}

.Header {
  display: flex;
  justify-content: space-between;
  padding-left: 10px;
  padding-right: 10px;
}

.revtube-icon {
  display: flex;
  align-items: center;
}

.navbar {
  display: flex;
  gap: 25px;
  align-items: center;
}

.VideoPage {
  display: flex;
  flex-direction: column;
}

.video-player-wrapper {
  display: flex;
  justify-content: center;
  background-color: black;
}

.video-player {
  background-color: black;
}

.video-info {
  margin-left: 80px;
  width: 900px;
  border-bottom: 1px solid whitesmoke;
  border-right: 1px solid whitesmoke;
}

.video-sidebar {
  display: flex;
  flex-direction: column;
  width: 500px;
  margin: 15px;
}

.video-bottom {
  display: flex;
}

.profile-img {
  width: 32px;
  height: 32px;
  background-color: black;
}

.thumbnail {
  background-color: black;
  width: 320px;
  height: 180px;
  border-radius: 15px;
}

.video-mini-header {
  display: flex;
}

.profile-icon {
  background-color: black;
  width: 36px;
  height: 36px;
  border-radius:100%;
}

.video-user {
  display: flex;
  align-items: center;
  gap: 5px;
}

.video-mini-name {
  margin: 5px;
  margin-left: 10px;
  font-size: 14px;
  height: 30px;
}

.video-mini-author {
  margin: 5px;
  margin-left: 10px;
}

.Video {
  width: fit-content;
}

.Home {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  padding: 15px;
}

.UploadPage {
  display: flex;
  justify-content: center;
}

.upload-form {
  border: 1px solid whitesmoke;
  display: flex;
  flex-direction: column;
  width: 750px;
  height: 500px;
  padding: 15px;
  background-color: #f5f3f3;
  box-shadow: 2px 2px 5px 2px grey;
}

#upload-name {
  width: 500px;
}

#upload-description {
  margin-bottom: 25px;
  max-width: 720px;
  max-height: 200px;
  min-width: 720px;
  min-height: 200px;
}

.submit-btn {
  width: 150px;
  height: 50px;
  border-radius: 8px;
  align-self: center;
  margin-top: auto;
  font-weight: bold;
  background-color: white;
  border: none;
}

input {
  margin-bottom: 25px;
  padding: 2.5px;
}

.VideoSidebar {
  display: flex;
  
}

.thumbnail-sidebar {
  background-color: black;
  width: 170px;
  height: 100px;
  border-radius: 15px;
}


.video-mini-name-sidebar {
  margin: 5px;
  margin-left: 10px;
  font-size: 14px;
  height: 30px;
}

.video-mini-author-sidebar {
  margin: 5px;
  margin-left: 10px;
  font-size: 10px;
}

.Login {
  display: flex;
  justify-content: center;
}

.login-form {
  display: flex;
  flex-direction: column;
  width: 400px;
  height: 400px;
  padding: 10px;
  background-color: #f5f3f3;
  box-shadow: 2px 2px 5px 2px grey;
}

.login-field {
  display: flex;
  flex-direction: column;
}

#email-login {
  height: 25px;
}

#pwd-login {
  height: 25px;
}

#username-login {
  height: 25px;
}

.Register {
  display: flex;
  justify-content: center;
}

.Comments {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 10px;
}

.Comment {
  border-bottom: 2px solid whitesmoke;
}

.comment-header {
  display: flex;
  align-items: center;
  gap: 10px;
}

.comment-content {
  margin-left: 40px;
}

.video-stats {
  display: flex;
  gap: 20px;
  margin: 10px;
}

.video-stat {
  display: flex;
  align-items: center;
}

.video-header {
  border-bottom: 2px solid whitesmoke;
  padding-bottom: 10px;
}

.like-button {
  background-color: white;
  border: none;
  display: flex;
  align-items: flex-end;
}

.comment-input-area {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding-right: 10px;
  
}

.comment-input {
  max-height: 65px;
  min-height: 65px;
  max-width: 800px;
  min-width: 800px;
  padding: 10px;
  font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 15px;
}

.comment-btn {
  width: 75px;
  background-color: whitesmoke;
  border: 1px solid whitesmoke;
  box-shadow: 1px 1px 3px 1px rgb(173, 169, 169);
  font-weight: bold;
  margin-top: 15px;
}

.profile-header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile-img {
  width: 150px;
  height: 150px;
  border-radius: 100%;
}

.profile-username {
  margin: 0;
}

.profile-watch-history {
  padding: 15px;
}

.profile-watch-history-videos {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}

input[type="file"] {
  display: none;
}

label[for="my-file-input"] {
  border: 1px solid #ccc;
  padding: 5px;
  border-radius: 5px;
  background-color: #fff;
  color: #666;
  font-size: 10px;
  font-weight: bold;
  cursor: pointer;
}

label[for="my-file-input"]:hover {
  background-color: #f5f5f5;
}

input[type="file"]:focus + label {
  outline: 1px dotted #000;
  outline: -webkit-focus-ring-color auto 5px;
}

.system-message-profile {
  text-align: center;
}

.save-button {
  color: rgb(105, 105, 233);
  border: none;
  background-color: white;
  font-size: 10px;
  text-decoration-line: underline;
}

.image-upload-wrapper {
  display: flex;
  flex-direction: column;
  padding: 5px;
}

.logout-btn {
  border: none;
  background-color: white;
  color: red;
  font-size: 10px;
  text-decoration: underline;
}

.logout-btn:hover {
  color: rgb(184, 5, 5);
}
